#home-page {
    width: 100%;
    height: 2000px;
    background-color: #F5F5F5;
    direction: rtl;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#home-page .top-bar {
    width: 75%;
    height: 155px;
    display: flex;
    justify-content: left;
    align-items: center;
}

#home-page .top-bar .link {
    flex-grow: 1;
    font-weight: bold;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    font-size: 22px;
    /* background-color: green; */
    height: 100%;
    cursor: pointer;
}

#home-page .top-bar .logo {
    flex-grow: 7;
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: left;
}

#home-page .title {
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 75px;
}

#home-page .sub-title {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-weight: bold;
    font-size: 40px;
}

#home-page .sub-sub-title {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-weight: bold;
    font-size: 30px;
}

#home-page .home-img {
    width: 100%;
    height: 400px;
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#home-page .search-div-container {
    display: flex;
    flex-direction: row;
    width: 75%;
    justify-content: center;
    align-items: center;
}

#home-page .search-div-container .search-container {
    width: 80%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 1px grey solid;
    margin-top: 20px;
    border-radius: 20px;
    flex-direction: row;
    border-bottom-right-radius: 0;
    /**/
}


.search-container .search-text {
    height: 98%;
    width: 75%;
    border: none;
    background-color: white;
    font-size: 32px;
    text-align: right;
    border-radius: 20px;
    border-bottom-right-radius: 0;
    /**/
}

#home-page .text-search-options {
    height: max-content;
    max-height: 400px;
    width: 44.9%;
    border: none;
    background-color: white;
    font-size: 32px;
    text-align: center;
    margin-left: 30%;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.text-search-options .option-row {
    width: 100%;
    text-align: right;
    cursor: pointer;
}

.text-search-options .option-row:hover {
    background-color: #5096ff67;
}

.search-container .search-text:focus {
    outline: none;
}



.search-container .search-dropdown {
    height: 100%;
    width: 25%;
    border-radius: 20px;
}

.search-container .search-dropdown-control {
    height: 100%;
    width: 100%;
    display: flex;
    border: none;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    flex-direction: row;
    cursor: pointer;
    border-radius: 20px;

}

.Dropdown-placeholder {
    width: 60% !important;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.Dropdown-arrow-wrapper {
    width: 5% !important;
    height: 50% !important;
    /* background-color: red !important; */
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

.search-dropdown-arrow {
    border-color: blue transparent transparent !important;
    border-width: 12px 12px 0 !important;
    font-size: larger !important;
    width: 100%;
    position: static !important;
}

.search-div-container .search-button-container {
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.search-div-container .search-button {
    height: 82%;
    width: 80%;
    border: 1px grey solid;
    border-radius: 5px;
    background-color: #3F51F3;
    color: white;
    cursor: pointer;
    font-size: 32px;
    display: flex;
    justify-content: center;
    align-items: center;

}


#home-page .opener {
    width: 95%;
    height: 666px;
    background-color: rgba(63, 81, 243, 0.37);
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    display: flex;
    flex-direction: column;
}

.opener .search-bar {
    width: 40%;
    height: 15%;
    margin-right: 5%;
    margin-top: 7%;
    background-color: white;
    border-radius: 30px;
    border: solid 1px #F1F1F1;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    box-shadow: 1px 3px 3px grey;
}

.search-bar .right-side {
    width: 66%;
    padding-right: 3%;
    color: rgba(0, 0, 0, 0.3);
    font-size: 30px;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    gap: 3%;
    font-weight: 400;

}

.search-container .vl {
    width: 0.1px;
    border: solid 1px rgba(0, 0, 0, 0.34);
    height: 70%;
}

.search-bar .search-input {
    width: 80%;
    font-size: 25px;
    border: 0;
    outline: 0;
}

.search-bar .search-input:focus {
    border: 0;
    outline: 0;
}

.search-bar .search-input::placeholder {
    color: rgba(0, 0, 0, 0.3);
    font-size: 30px;
}


.search-bar .left-side {
    width: 33%;
    color: black;
    font-size: calc(15px + 0.4vw);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10%;
    font-weight: 400;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#home-page .info {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    font-size: calc(30px + 0.6vw);
}

.info .info-txt {
    width: 80%;
    text-align: center;
    font-weight: bold;
}

@media (max-height: 1000px) {
    #home-page .opener {
        flex-direction: row;
        justify-content: right;
    }

    .opener .search-bar {
        margin-right: 0;
    }
}