#login-page {
    display: flex;
    width: 92%;
    height: 80%;
    overflow-y: hidden;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#login-page .logo-container {
    width: 34%;
    height: 100%;
}

#login-page .login-container {
    width: 66%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 800px) {
    #login-page {
        height: 50%;
    }

    #login-page .logo-container {
        width: 0%;
    }

    #login-page .login-container {
        width: 100%;
    }

    .login-card .login-fields .title {
        font-size: 20px !important;
    }

    .login-card .login-fields .sub-title {
        font-size: 11px !important;
    }

    .login-card .login-fields input[type="text"],
    input[type="password"] {
        font-size: 10px !important;
    }

    .login-card .login-fields label {
        font-size: 9px !important;
    }

    .login-card .login-options label {
        font-size: 5px !important;
    }

}

.login-container .login-card {
    width: 40%;
    height: 80%;
    display: flex;
    flex-direction: column;
}

.login-card .login-fields {
    display: flex;
    flex-direction: column;
    height: 50%;
}

.login-card .login-fields .title {
    font-size: 2vw;
    width: 100%;
    font-weight: bold;
    padding-bottom: 5%;
    /* height: 12%; */
}

.login-card .login-fields .sub-title {
    font-size: 0.9vw;
    color: grey;
    width: 100%;
    padding-bottom: 5%;
    /* height: 12%; */

}

.login-card .login-fields input[type="text"],
input[type="password"] {
    width: 100%;
    height: 16%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 4px;
    font-size: 1vw;
}

.login-card .login-fields label {
    font-size: 0.8vw;
    font-weight: bold;
}

.login-card .login-options {
    width: 100%;
    height: 7%;
    /* background-color: red; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.login-card .login-options input[type="checkbox"] {
    width: 5%;
    height: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    /* box-sizing: border-box; */
    border: 2px solid black;
    border-radius: 4px;
}

.login-card .login-options label {
    padding: 10px;
    font-size: 0.8vw;
    font-weight: normal !important;
    width: 45%;
}

.login-card .login-options .forgot-password-container {
    width: 50%;
    font-size: 0.8vw !important;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.logo-container img {
    width: 100%;
    height: 100%;
}



.login-card .button-container {
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.login-card .button-container .signup-link {
    padding: 1%;
    font-size: 0.8vw;
    color: gray;
}

.login-card .button-container .signin-button {
    background-color: rgb(0, 57, 147);
    color: white;
    font-size: 0.9vw;
    border-radius: 10px;
    width: 100%;
    height: 50%;
    cursor: pointer;
}

.login-card .loading-message {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 10;
    color: red;
}

.login-card .lds-ring {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 10%;
}

.lds-ring div {
    width: 30px;
    height: 30px;
    margin: 8px;
    border: 4px solid rgb(0, 57, 147);
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: rgb(0, 57, 147) transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}